<div class="header-container">
  <div fxLayout="column" fxFlex>
    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
      <div fxFlex="20%" (click)="backHome()">
        <fa-icon
          *ngIf="currentRoute !== 'home'"
          [icon]="backIcon"
          size="lg"
        ></fa-icon>
      </div>
      <p
        *ngIf="currentRoute"
        class="route-name"
        fxFlex="80%"
        fxLayoutAlign="center center"
      >
        {{ translatePath + currentRoute | translate }}
      </p>
      <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end center" (click)="showConfigModal()">
        <fa-icon
          [icon]="configIcon"
          size="lg"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
