<ng-container *ngIf="rooms$ | async as rooms">
  <div
    *ngIf="rooms.length > 0; else noRoom"
    class="list-container"
    fxFill
    fxLayout="row wrap"
  >
    <hd-switcher
      *ngFor="let room of rooms"
      fxFlex="33%"
      [room]="room"
      (iconClicked)="navigateToRoom(room)"
    ></hd-switcher>
  </div>
  <ng-template #noRoom>
    <div fxFill fxLayout="column" fxLayoutAlign="center center">
      <p>{{ translatePath + "noRoom" | translate }}</p>
    </div>
  </ng-template>
</ng-container>
